<style>

.container {
            padding: 30px;
            background-color: #fdfcf5;
            max-width: 1000px;
            margin: auto;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            flex-wrap: wrap;
        }

.food-menu{
flex-wrap: nowrap;
display:flex;
gap: 40px;
overflow-x:auto;
}

.img{
width:100px;}

#special{
         border: 3px solid gold;
         background-image: linear-gradient(45deg, #fff7d6, #ffe066);
         font-weight: bold;
         box-shadow: 0 0 10px rgba(255, 215, 0, 0.6);
}

.item-info{
display:flex;
flex-direction: column;
background-color: #ffffff;
border: 1px solid #e0e0e0;
border-radius: 8px;
text-align:center;
width:200px;
align-items: center;
}

.item-info:hover{
transform:translateY(-5px)}

.cost{
color:red;}

#Menu {
  font-size: 60px;
  font-weight: bold;
  color: crimson;
  text-align: center;
  background-color: #ffe5ec;
  padding: 20px;
}

h1{color:white;
background-color: #003366;
   font-size: 40px;}
h2{color:red;
}
h3{color:green;}

</style>